WebContent/wsdl/COCD.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://action.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://action.com" xmlns:intf="http://action.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://action.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="main">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="args" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="mainResponse">
    <complexType/>
   </element>
   <element name="getCurrentPaymentPlanDetail">
    <complexType>
     <sequence>
      <element name="P_REQUEST_nUMBER" type="xsd:string"/>
      <element name="P_REQUEST_NAME" type="xsd:string"/>
      <element name="P_SOURCE_MESSAGE" type="xsd:string"/>
      <element name="REGISTERATION_ID" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCurrentPaymentPlanDetailResponse">
    <complexType>
     <sequence>
      <element name="getCurrentPaymentPlanDetailReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getCurrentPaymentPlanDetailResponse">

      <wsdl:part element="impl:getCurrentPaymentPlanDetailResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCurrentPaymentPlanDetailRequest">

      <wsdl:part element="impl:getCurrentPaymentPlanDetail" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="mainResponse">

      <wsdl:part element="impl:mainResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="mainRequest">

      <wsdl:part element="impl:main" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="COCD">

      <wsdl:operation name="main">

         <wsdl:input message="impl:mainRequest" name="mainRequest">

       </wsdl:input>

         <wsdl:output message="impl:mainResponse" name="mainResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCurrentPaymentPlanDetail">

         <wsdl:input message="impl:getCurrentPaymentPlanDetailRequest" name="getCurrentPaymentPlanDetailRequest">

       </wsdl:input>

         <wsdl:output message="impl:getCurrentPaymentPlanDetailResponse" name="getCurrentPaymentPlanDetailResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="COCDSoapBinding" type="impl:COCD">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="main">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="mainRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="mainResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCurrentPaymentPlanDetail">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCurrentPaymentPlanDetailRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getCurrentPaymentPlanDetailResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="COCDService">

      <wsdl:port binding="impl:COCDSoapBinding" name="COCD">

         <wsdlsoap:address location="http://localhost:8080/CRM_SR_NEW/services/COCD"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
